[Desktop Entry]
Encoding=UTF-8
Name=BitCoal Wallet
Comment=BitCoal wallet
Exec=bitcoalwallet %U
Terminal=false
Type=Application
Icon=bitcoal
MimeType=x-scheme-handler/bitcoal;
Categories=Office;Finance;
